#body1{
    margin: 0;
    padding: 0;
    height: 950px;
    background: url(6pac.jpg);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    
}
#prueba2{
    overflow: hidden;
}
#letra1{
 padding-top: 350px;
    margin-left: 500px;
    text-align: center;
    
}

#contenido1{
background: url(4pac.jpg);   
background-repeat: no-repeat;
background-size: 100% 100%;  
background-attachment: fixed;  
height: 900px;
padding-top: 350px;   

}
#prueba{
    overflow: hidden;
    
}

#parrafo{
    margin-left: 350px;
    margin-top: -240px;
    z-index: 1;
    width: 590px;
    height: 550px;
    padding: 20px 20px;
   font-size: 15px;
   line-height: 1.5;
   background-color:rgb(80, 47, 5);
   box-shadow: 1px 5px 25px rgba(0, 0, 0, 45);
   border-radius: 9px;
   
   } 
#parrafo4{
   width: 241px;  
   border-radius: 5px;  
   margin-right: 15px;
   
}
#titulodelheader{
    text-align: left;
}
#opciones{
    padding-left: 420px;
    padding-top: 30px;
    word-spacing: 45px;
  
}
#letrabio{
    max-width: 500px;
    display: flex;
    color: white;
    text-align: justify;
}
#pruebasanta{
    max-width: 500px;
    display: flex;
    color: white;
    text-align: justify;
}
#canciones1{
  overflow: hidden;  
}
#fondodecanciones{
    background: url(aaa.jpg);   
    background-repeat: no-repeat;
    background-size: 100% 100%;  
    background-attachment: fixed;  
    height: 900px;
    padding-top: 350px;    
}

#discos1{
    overflow: hidden;  
}
#fondodediscos{
    background: url(discosss.jpg);   
    background-repeat: no-repeat;
    background-size: 100% 100%;  
    background-attachment: fixed;  
    height: 900px;
    padding-top: 350px;  
}
#tabla1{
    text-align:center;
background-color: rgb(37, 37, 37);
margin-left: 265px;
margin-top: -165px;
color: white;
}
#alleyez{
    margin-top: -310px;
    margin-left: 900px;
      
}
#changes{
    margin-top: -320px;
    margin-left: -630px;
}
#allvideo{
  margin-left: -70px; 
}
#changesvideo{
    margin-left: -740px;
}
#only{
    margin-top: 20px;
    margin-left: 380px;
}
#onlyvideo{
margin-left: -55px;
}